@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
.main{
    height:100vh;
    border-radius: 30px 0 0 30px;
    font-family: 'Roboto Condensed', sans-serif;
}

.nav-link{
    color:black;
    text-decoration: none;
    transition: all 0.5s;
}


.nav-tabs .nav-link{
    
}

.nav-link.active{
   width: 50vh;
   transform: scale(1.2);
   font-weight: bolder;
}